$custom-gradient: linear-gradient(to bottom, #05233f, #61849c);
/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
    color:rgb(23, 43, 77);
}

.grean-gradient-text {
    background: linear-gradient(to bottom, #6ea41b, #b5dc17);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.grean-gradient-text {
    background: linear-gradient(to bottom, #05233f, #61849c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/**
over ride from base
*/

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.1;
}

.site-nav .page-link {    
    color: #72a81b;
    // color: #76aa1b;
    line-height: 1.5;
}

.footer-col-1 {
    width: -webkit-calc(25% -(30px / 2));
    width: calc(25% - 30px / 2);    
}

.footer-col-2 {
    width: -webkit-calc(25% -(30px / 2));
    width: calc(25% - 30px / 2);    
}

.footer-col-3 {
    width: 50%;    
}
.social-media-list svg {
    width: 16px;
    height: 16px;
}
.svg-icon {
    padding-right: 0px;
}



.post-content {
    margin-bottom: $spacing-unit;
  
    h2 {
        font-weight: bold;
        padding-top: 20px;
      @include relative-font-size(1.2);
        
      @include media-query($on-laptop) {
        @include relative-font-size(1.1);
      }
    }
  
    h3 {
        font-weight: bold;
        padding-top: 20px;
      @include relative-font-size(1.1);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.0);
      }
    }
  
    h4 {
        font-weight: bold;
        padding-top: 20px;
      @include relative-font-size(1.15);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.1);
      }
    }
  }
  

//  this changes box content back to default. boot strap uses a different mode
// *, *::before, *::after {
//     box-sizing: inherit;
// }


pre, code, .highlighter-rouge .highlight {    
    background-color: #f1f2f4;
  }

.info-panel {
    display: flex;
    align-items: flex-start;
    background-color: #e9f2ff;
    border-left: 5px solid #0077cc;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 20px 0;    
    overflow: auto;
}

.info-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #0077cc;
}

.info-content {
    color: #333;
}


.citation {
    font-style: italic;
    font-size: 14px;
    margin-top: 20px;
    color: #555;
}

.citation a {
    color: #0077cc;
    text-decoration: none;
}

.citation a:hover {
    text-decoration: underline;
}


.copywrite-panel {
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 12px; /* Smaller font size */
    color: #888; /* Light gray color */
    opacity: 0.6; /* Less visible */
}

.copywrite-panel a {
    color: #888; /* Light gray for the link */
    text-decoration: none;
}

.copywrite-panel a:hover {
    text-decoration: underline; /* Underline link on hover */
}

.copywrite-panel p {
    margin: 0;
}